.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      .main-chat__group-info__left-box__current-grop
        current-group
      .main-chat__group-info__left-box__member-list
        member-list
    .main-chat__group-info__right-edit
      = link_to "#", class: "main-chat__group-info__right-edit--btn" do
        %span<>
          Edit
  .main-chat__messages
    .main-chat__messages__message
      .main-chat__messages__message__list
        .main-chat__messages__message__list__name
          name
        .main-chat__messages__message__list__date
          2019/12/07
      .main-chat__messages__message__text
        メッセージです
      .main-chat__messages__message
        .main-chat__messages__message__list
          .main-chat__messages__message__list__name
            name
          .main-chat__messages__message__list__date
            2019/12/07
        .main-chat__messages__message__text
          メッセージです

  .main-chat__message-form
    .main-chat__message-form__new-message
      %form{action:"/", method:"post", class:'main-chat__message-form__new-message--form'}
        %input{name:"text", size:"100", placeholder: 'type a message',class:'main-chat__message-form__new-message--field'}
          %label{class: "main-chat__message-form__new-message--label"}
            %i.far.fa-image
            %input{name:"file", type:"file",class:'main-chat__message-form__new-message--file'}

    %input{type:"submit", value:"Send", class:'main-chat__message-form__new-message--submit'}
    -# .main-chat__message-form__new-message__send
    -#   Send
